{% extends "base.twig" %}

{% block content %}
	<h2>{{foo}}</h2>
	<p>{{qux}}</p>
	{% for post in posts %}
		{% include ['components/tease-'~post.post_type~'.twig', 'components/tease.twig'] %}
	{% endfor %}
{% endblock %}
